django-cms<3.1

django-mptt>=0.6

MySQL-python

djangocms-admin-style
djangocms-column
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-style
djangocms-text-ckeditor==2.4.1
django-countries==3.0.1


djangocms-file
djangocms-link
djangocms-picture
djangocms-teaser
djangocms-video

Django<1.5
pytz

south>=0.7.2

django-reversion<1.7

django-classy-tags>=0.3.4.1
html5lib
Pillow>=2
django-sekizai>=0.7
six
