<%! import json %>
<%
    if user:
        params.update({'user': user.username})
%>
<div id="edx-notes-wrapper-${uid}" class="edx-notes-wrapper">
    <div class="edx-notes-wrapper-content">${content}</div>
</div>
<script type="text/javascript">
    (function (require) {
        require(['js/edxnotes/views/edxnotes_wrapper_factory'], function(EdxnotesWrapperFactory) {
            EdxnotesWrapperFactory.factory('edx-notes-wrapper-${uid}', ${json.dumps(params)}, ${edxnotes_visibility});
        });
    }).call(this, require || RequireJS.require);
</script>
