<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Company Progress")}</%block>
<%block name="headextra">
<%static:css group='style-company'/>
</%block>

<div class="container dashboard representative-dashboard">

    <h1>${_('Company Progress')}</h1>
    <h2>${_('Company:')} ${company.title}</h2>

    <%def name="percent_data(fraction, ordered_grades)">
        <%
            letter_grade = 'None'
            if fraction > 0:
                letter_grade = 'F'
                for (grade, cutoff) in ordered_grades:
                    if fraction >= cutoff:
                        letter_grade = grade
                        break

            data_class = "grade_" + letter_grade
        %>
        <td class="${data_class}" data-percent="${fraction}">${ "{0:.0f}".format( 100 * fraction ) }</td>
    </%def>

    % for (course_id, course_data) in courses_data.iteritems():

        % if len(course_data['students']) > 0:
            <%
            students = course_data['students']
            %>

            <div class="grades">
                <h3>${course_data['course'].display_name}</h3>
                <table class="grade-table">
                    <%
                    templateSummary = students[0]['grades']
                    %>
                    <thead>
                        <tr> <!-- Header Row -->
                            <th>${_('Student')}</th>
                            %for section in templateSummary['section_breakdown']:
                                <th><div class="assignment-label">${section['label']}</div></th>
                            %endfor
                            <th><div class="assignment-label">Total</div></th>
                        </tr>
                    </thead>

                    <tbody>
                    % for student in students:
                        <tr>
                            <td>${student['real_name']}</td>
                            % for section in student['grades']['section_breakdown']:
                                ${percent_data( section['percent'], course_data['ordered_grades'] )}
                            % endfor
                            ${percent_data( student['grades']['percent'], course_data['ordered_grades'] )}
                        </tr>
                    % endfor
                    </tbody>
                </table>
            </div>
        % endif
    % endfor
</div>
